{% extends "core/base.html" %}
{% load static %}
{% block title %}Histórico Circuitos Diputación | Ajedrez Málaga{% endblock title %}

{% block csspage %}
<link rel="stylesheet" href="{% static 'circuitos/css/historico_circuito.css' %}" />{% endblock csspage %}

{% block carrusel %}<div class="container-fluid">
  <div class="col position-relative">
    <div class="p-4 p-md-5 mt-4 mb-4 text-white rounded hero-historico">
        <div class="col-md-6 px-0">
          <h1 class="display-1 fprimer position-absolute start-50 translate-middle-x text-center">
            Histórico Circuito
          </h1>
        </div>
    </div>
  </div>
</div>{% endblock carrusel %}

{% block breadcrumb %}<!-- Breadcrumb -->
<div class="container my-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'torneo:inicio' %}">Inicio</a></li>
      <li class="breadcrumb-item"><a href="{% url 'circuitos:new_tournaments' %}">Circuito Diputación</a></li>
      {% if not qs and not get_all_tournaments %}
      <li class="breadcrumb-item active" aria-current="page">Histórico Circuitos Diputación</li>
      {% elif not qs and get_all_tournaments %}
      <li class="breadcrumb-item"><a href="{% url 'circuitos:historico-torneos-diputacion' %}">Histórico Circuito Diputación</a></li>
      <li class="breadcrumb-item active" aria-current="page">Todos los Torneos</li>
      {% else %}
      <li class="breadcrumb-item"><a href="{% url 'circuitos:historico-torneos-diputacion' %}">Histórico Circuito Diputación</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ formatted_date|title }}</li>
      {% endif %}
    </ol>
  </nav>
</div>{% endblock breadcrumb %}

{% block main %}
<section class="container mt-5">
  <div class="row g-5">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          {% if get_all_tournaments %}
          <div class="alert alert-finalizado" role="alert">
            Todos los torneos
          </div>
          {% else %}
          <div class="alert {% if not qs %}alert-nuevo{% else %}alert-finalizado{% endif %}" role="alert">
            {% if not qs %}Torneos año actual{% else %}Torneos {{ formatted_date|title }}{% endif %}
          </div>
          {% endif %}
          <!-- Buscador -->
          <form action="{% url 'circuitos:circuito_search' %}" method="GET" class="d-flex mb-4">
            {{ form.query }}
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
          <!-- fin buscador -->
          <div class="row">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Inicio</th>
                    <th>Final</th>
                    <th>Torneo</th>
                    <th>Localidad</th>
                    <th>Provincia</th>
                  </tr>
                </thead>
                <tbody>
                  {% for torneo in torneos %}
                  <tr>
                    <td>{{ torneo.start|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ torneo.finish|date:"SHORT_DATE_FORMAT" }}</td>
                    <td><a href="{{ torneo.get_absolute_url }}">{{ torneo.title }}</a></td>
                    <td>{{ torneo.location }}</td>
                    <td>{{ torneo.province }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table> <!-- fin table -->
            </div>
          </div> <!-- fin row -->
        </div> <!-- fin card body -->
      </div> <!-- fin card -->
      {% if torneos %}{% include "circuitos/pagination.html" with page=torneos %}{% endif %}
    </div> <!-- fin col -->

    <div class="col-md-3">
      <div class="position-sticky" style="top: 8rem;">
        <h3 class="text-center">Históricos</h3>
        <div class="text-center my-3">
          <a class="btn btn-chess" href="{% url 'circuitos:todo-historico' 'todos los torneos'|slugify %}"
            role="button">Todos los torneos
          </a>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Año {{ current_year }}
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul class="list-group">
                  <li class="list-group-item active-2" aria-current="true">
                    <a class="link-light" href="{% url 'circuitos:torneos-year-month' current_year 1 %}">Enero</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 2 %}">Febrero</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 3 %}">Marzo</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 4 %}">Abril</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 5 %}">Mayo</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 6 %}">Junio</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 7 %}">Julio</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 8 %}">Agosto</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 9 %}">Septiembre</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 10 %}">Octubre</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 11 %}">Noviembre</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' current_year 12 %}">Diciembre</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Año {{ last_year }}
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul class="list-group">
                  <li class="list-group-item active-2" aria-current="true">
                    <a class="link-light" href="{% url 'circuitos:torneos-year-month' last_year 1 %}">Enero</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 2 %}">Febrero</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 3 %}">Marzo</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 4 %}">Abril</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 5 %}">Mayo</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 6 %}">Junio</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 7 %}">Julio</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 8 %}">Agosto</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 9 %}">Septiembre</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 10 %}">Octubre</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 11 %}">Noviembre</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' last_year 12 %}">Diciembre</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Año {{ before_last_year }}
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul class="list-group">
                  <li class="list-group-item active-2" aria-current="true">
                    <a class="link-light" href="{% url 'circuitos:torneos-year-month' before_last_year 1 %}">Enero</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 2 %}">Febrero</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 3 %}">Marzo</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 4 %}">Abril</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 5 %}">Mayo</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 6 %}">Junio</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 7 %}">Julio</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 8 %}">Agosto</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 9 %}">Septiembre</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 10 %}">Octubre</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 11 %}">Noviembre</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'circuitos:torneos-year-month' before_last_year 12 %}">Diciembre</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- fin accordion -->
      </div>  <!-- fin sticky -->
    </div>  <!-- fin col -->
  </div> <!-- fin row -->
</section>{% endblock main %}