.bg-image {
  position: relative;
  overflow: hidden;
  background-image: url("../../core/img/portada_contacto_ajedrez_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 400px;
  /*background-position: 50%; no funciona bien con background-attachment: fixed*/
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.form-check-input {
  border: 1px solid #322381;
}

